<li id="word-<%= word.id %>">
    <h3><%= word.question %></h3>
    <% word.answers.each do |answer| %>
      <div class="checkbox">
        <%= check_box_tag :answer[answer.id] %>
        <%= label_tag :answer, answer.answer %>
      </div>
    <% end %>
</li>
